<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.petnet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Petnet">
        <activity android:name=".TinderSwipe"></activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".Store_vet"></activity>
        <activity android:name=".Store_dog_pet_shop" />
        <activity android:name=".Store_dog_walker" />
        <activity android:name=".Store_dog_trainer" />
        <activity android:name=".Store_dog_sitter" />
        <activity android:name=".B_my_store" />
        <activity
            android:name=".UserMainActivity"
            android:parentActivityName=".Log_in_activity" />
        <activity android:name=".B_main_activity" />
        <activity android:name=".B_sign_up_page" />

        <activity android:name=".FoundDogActivity" />

        <activity
            android:name=".SignUpPage"
            android:label=""
            android:parentActivityName=".Log_in_activity" />
        <activity
            android:name=".Log_in_activity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>