<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.petnet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Petnet">
        <activity android:name=".CostumersActivities.C_TinderSwipeActivity"></activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".BusinessActivities.StoreVetActivity"></activity>
        <activity android:name=".BusinessActivities.StoreDogPetShopActivity" />
        <activity android:name=".BusinessActivities.StoreDogWalkerActivity" />
        <activity android:name=".BusinessActivities.StoreDogTrainerActivity" />
        <activity android:name=".BusinessActivities.StoreDogSitterActivity" />
        <activity android:name=".BusinessActivities.B_MyStoreActivity" />
        <activity
            android:name=".CostumersActivities.C_UserMainActivity"
            android:parentActivityName=".CostumersActivities.C_LogInActivity" />
        <activity android:name=".BusinessActivities.B_MainActivity" />
        <activity android:name=".BusinessActivities.B_SignUpPageActivity" />

        <activity android:name=".CostumersActivities.C_FoundDogActivity" />

        <activity
            android:name=".CostumersActivities.C_SignUpPageActivity"
            android:label=""
            android:parentActivityName=".CostumersActivities.C_LogInActivity" />
        <activity
            android:name=".CostumersActivities.C_LogInActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>