<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.petnet">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Petnet">
        <activity
            android:name=".UserMainActivity"
            android:parentActivityName=".UserMainActivity"></activity>
        <activity android:name=".Bmy_stores" />
        <activity android:name=".Bmain_activity" />
        <activity android:name=".BSignUpPage" />
        <activity
            android:name=".SignUpPage"
            android:label=""
            android:parentActivityName=".Log_in_activity" />
        <activity
            android:name=".Log_in_activity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>